body {
  background-color: #2b87d1;
}
#headline,
#tagline,
h3 {
  color: rgb(255, 255, 255);
  text-align: center;
}
#play, #buttonHolder {
  text-align: center;
}
.btn {
  margin: 0em 1em;
}
.btn-light:hover {
color:rgb(92, 92, 92)
}
.fadein {
  margin: auto;
  animation-duration: 2s;
  animation-name: fadein;
}
.fadeout {
  animation-duration: 2s;
  animation-name: fadeout;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
